                      /*GENERALES*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", sans-serif;
}


                        /* NAVBAR */
.nav-link, .navbar-brand{
  color: white;
}

.nav-link:hover {
  background-color: #FFC107;
  color: black;
}

.container-fluid{
  background-color: #2A5C8C;
  height: 70px;
}

                        /* DROPDOWN NAV */
.dropdown-menu.horizontal-dropdown {
    display: none;
    flex-wrap: nowrap;
    width: auto;
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
    white-space: nowrap;
}

.dropdown-menu.horizontal-dropdown.show {
    display: flex;
}

.dropdown-menu.horizontal-dropdown .dropdown-item {
    flex: 0 0 auto;
    width: 220px;
    height: 120px;
    margin: 5px;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.btn{
    height: 40px;
    width: 75%;
    text-align: center;
    color: white;
    background-color:#2A5C8C;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control{
    color:#2A5C8C;
}

#flexCheckDefault{
  background-color: #2A5C8C;
}



                            /*CODIGO DE REGISTRAR CLIENTE*/
html, body {
  height: 100%;
}

img {
  width: 75px;
  margin-bottom: 15px;
}

.d-flex{
  background-color: white;
}

.form-signin {
  max-width: 630px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 1px;
  height: 50px;
  /* border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; */
} 

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

#error{
  color: red;
}

.botoncuentas {
  font-size: small;
  background-color: #FFC107;
  color: black;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.galeria {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 8px;
  /* max-width: 400px; */
}

.contenedor-imagen {
  /* position: relative; */
  /* left: 0; */
  width: 80px;
  /* border-radius: 5px; */
  height: 80px;
  border-radius: 10px;
  /* overflow: hidden; */
  /* background-color: #efefef; */
  /* transition: 0.4s ease-in-out; */
  box-shadow: 0 5px 5px 0 rgb(0, 0, 0, 0.5);
  /* flex: 0.25; */
}

.contenedor-imagen img {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  /* object-fit: cover; */
}

.contenedor-imagen:hover {
  border: 1px solid #777;
}


                                /* FOOTER */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #333;
  color: white;
  padding: 40px 0;
  margin-top: auto; 
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  text-align: center;
}

.footer-column a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-column a:hover {
  text-decoration: underline;
}